{% extends "Hospital.html" %}
{% load static %}
{% block content %}

<div>
    <picture >
        <img id = 'photo' src="{% static 'images/hospital_management.jpg' %}">
    </picture>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 id = "head">ABOUT US</h1>
    </div>
    <div>
    <p id ="new_para">
        The Johns Hopkins Hospital (JHH) is the teaching hospital and biomedical research facility of 
        Johns  <br> Hopkins School of Medicine in Baltimore, Maryland. 
        Founded in 1889, 
        Johns Hopkins Hospital and its school  <br> of medicine are considered to be the 
        founding institutions of modern American medicine and the birthplace <br> of numerous famed medical traditions, 
        including rounds, residents, and house staff.
        Several medical specialties <br>
        were founded at the hospital, including neurosurgery by 
        Harvey Williams Cushing and Walter Dandy, 
        cardiac <br> surgery  by Alfred Blalock,and child psychiatry by 
        Leo Kanner.Johns Hopkins Children's Center which serves <br> infants, children, teens,
        and young adults aged 0–21, is attached to the hospital.
    <br>
    <br>
    Johns Hopkins Hospital is widely regarded as one of the world's greatest hospitals and medical institutions. <br>
    For 21 consecutive years from 1991 to 2020, 
    it was ranked as the best overall hospital in the United States by <br> U.S. 
    News & World Report. In its 2019–2020 edition,U.S. News & World Report ranked the hospital on 15 <br> adult specialties and 10 
    children's specialties the hospital came in 1st in Maryland and third nationally behind the <br> Mayo Clinic in Rochester,
    Minnesota and Massachusetts General Hospital in Boston. 
    In 2021 ,the hospital <br> marked 32 consecutive years of placing in the top five hospitals in the nation
    </p>
    </div>


<br>
<div>
    <a class="link" href="https://www.free-css.com/free-css-templates"><strong>Read More<strong></a>
</div>
<br>
<br>
<br>
{% endblock %}
