{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Hospital.css' %}">
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <link rel="stylesheet" href="{% static 'css/About.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/Department.css' %}">
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
    

</head>
<body>
    <!-- <h1>Welcome to hospital management</h1> -->
    <nav class="ok">
        <div class="heading">
            <h1 class = 'id' style="color:whitesmoke;">Hospital</h1>
        </div>
    <ul class="tab">
        <li><a href="{% url 'Contact' %}">Contact</a></li>
        <li><a href="{% url 'booking' %}">booking</a></li>
        <li><a href="{% url 'About' %}">About us</a></li>
        <li><a href="{% url 'doctors' %}">Doctors</a></li>
        <li><a href="{% url 'Department' %}">Department</a></li>
        <li class="first"><a href="{% url 'Hospital' %}">Home</a></li>
    </ul>
    </nav>
    {% block content %}
    <img  class = 'photo' src="{% static 'images/hospital_management.jpg' %}">
    {% endblock %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="background-color"
            style="background-image:linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );">

            <div class="text">
                <div class = "lat-para1">
                    <h2 class="last-section">About</h2>
                    <p class="last-para1">consectetur adipiscing elit, sed do <br>
                        eiusmod tempor incididunt ut labore <br>
                        et dolore magna aliqua. Ut enim ad <br> 
                        minim veniam, quis nostrud <br>
                        exercitation u</p>
                </div>

                <div class = "lat-para2">
                    <h2 class="last-section">Menu</h2>
                    <p><a href="https://www.free-css.com/" class="last-para2">Home</a></p>
                    <p><a href="https://www.free-css.com/" class="last-para2">About us</a></p>
                    <p><a href="https://www.free-css.com/" class="last-para2">Gallery</a></p>
                    <p><a href="https://www.free-css.com/" class="last-para2">Services</a></p>
                    <p><a href="https://www.free-css.com/" class="last-para2">Contact us</a></p>
                </div>

                <div class = "lat-para3">
                    <h2 class="last-section">Useful Link</h2>
                    <a> <p class="last-para3">Adipiscing <br>
                        <p></p>
                        Elit sed do, <br>
                        <p></p>
                        Eiusmod <br>
                        <p></p>
                        Tempor <br>
                        <p></p>
                        incididunt <br> </p>
                </div>

                <div class = "lat-para4">
                    <h2 id="last-section">Contact us</h2>
                    <ul class="Contact">
                    <li id="super"><a href="https://www.free-css.com/" style="color: aliceblue;">Address : Lorem Ipsum </a></li>
                    <li id="super1"><a href="https://www.free-css.com/" style="color: aliceblue;">call : +01 1234567890 </a></li>
                    <li id="super2"><a href="https://www.free-css.com/" style="color: aliceblue;">Email:mail@domain.com </a></li>
                    </ul>
                </div>
    
            </div>
           
        </div>
        
    </div>
</body>
</html>
